////////////////////////
//
// Variables.
//
////////////////////////
$white: #fefefe;
$grey-extralight: #ddd;
$grey-medium: #888888;
$grey-dark: #666666;

$indent-amount: 2em;

// Color Variables
$grey-light: #ddd;
$grey-dark: #444;
$grey-extradark: #222;
$red: #ffaaaa;
$red-dark: darken($red, 50);
$red-extradark: darken($red, 80);
$green: #aaffaa;

// Layout Variables
$margins: 2em;
$padding: 1em;


// Breakpoint Variables

$bp-max: 1600px;
